@import 'zsi-trendtool.css';

.navbar-btn{
	box-shadow: none;
	outline: none!important;
	border: none;
}

.line{
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
}

#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#wrapper .content-wrapper {
    overflow-x: hidden;
    width: 100%;   
    padding-bottom: 20px !important;
}
.dropdown-menu-left {
    left: 0;
    left: auto;
    border-radius: 0 !important;
    left: -25px !important;
    margin: 0.4rem 0 0 !important;
	width:300px !important;
}
.menu-icon {
	height:70px;
}

a.dropdown-item > img.mx-auto.d-block.menu-icon:hover{
	background:#FF0021 !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0px !important;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
} 
.menutop-margin{
	margin-top:20px;
}
.btn-menu{
	text-decoration: none;
    background: FF0021 !important;
    border-radius: 2px !important;
	color:#ffffff !important;
}

.ddmenu-header {
    background-color: #ff0021;
    color: #fff;
	padding: .1rem 1rem;
 
 
}

.tt-menu a{
    background-color: #494749;
    color: #fff;
    border-radius: 8px;
    height: 63px;
}
.tt-menu a:hover{
    background-color: red;
    color: #fff;
    border-radius: 8px;
    height: 63px;
}


.tt-menu a i{
    font-size: 50px;
}










