@font-face {
  font-family: 'zsi-trendtool';
  src:
    url('../webfonts/zsi-trendtool.ttf?ty0cur') format('truetype'),
    url('../webfonts/zsi-trendtool.woff?ty0cur') format('woff'),
    url('../webfonts/zsi-trendtool.svg?ty0cur#zsi-trendtool') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ttool{
	font-family: 'zsi-trendtool';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.batery-fuse-terminal:before {
  content: "\e900";
}
.bernard:before {
  content: "\e901";
}
.clips-retainers:before {
  content: "\e902";
}
.covering:before {
  content: "\e903";
}
.electrical:before {
  content: "\e904";
}
.gaudencio:before {
  content: "\e905";
}
.grommets:before {
  content: "\e906";
}
.grommets2:before {
  content: "\e907";
}
.ground-eyelet:before {
  content: "\e908";
}
.grounding:before {
  content: "\e909";
}
.hiplord:before {
  content: "\e90a";
}
.inline-con:before {
  content: "\e90b";
}
.lear-logo:before {
  content: "\e90c";
}
.lear-logo-text:before {
  content: "\e90d";
}
.mechanical:before {
  content: "\e90e";
}
.network-distrib:before {
  content: "\e90f";
}
.pdb:before {
  content: "\e910";
}
.safety:before {
  content: "\e911";
}
.smager:before {
  content: "\e912";
}
.splices:before {
  content: "\e913";
}
.tsb:before {
  content: "\e914";
}
.vehicle:before {
  content: "\e915";
}
.wire:before {
  content: "\e916";
}
.zsi-logo:before {
  content: "\e917";
}

/* Added By Tong */
body{
	overflow: hidden !important;
	background: #fff;
}
main {
    position: absolute;
	top: 72px;
	height: calc(100vh - 75px);
	height: -o-calc(100vh - 75px); /* opera */ 
	height: -webkit-calc(100vh - 75px); /* google, safari */
	height: -moz-calc(100vh - 75px); /* firefox */
	overflow: auto !important;
}
.navbar-main{
	min-height: 29px !important;
    padding: .1rem .3rem !important; 
}
/* .navbar-nav{ */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
/* } */
.navbar-brand{
	padding-top: .3125rem;
    padding-bottom: .3125rem;
	font-size: 1.25rem;
}
.divider{
    display: block;
    color:  rgba(255,255,255,.75);
}
.navbar-sub {
    
}
.navbar-sub {
	position: fixed;
    top: 43px;
    z-index: 1020;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    min-height: 29px !important;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(230, 0, 18, 1)
}

.navbar-sub .nav-link {
    padding: .1rem 1rem !important;
    color: #fff !important;
	font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
}
.navbar-main .dropdown-item{
	font-size: .8rem;
	padding: .1rem 1rem !important;
}
.navbar-sub .dropdown-menu .nav-link{
	color: #212529 !important;
}
.navbar-sub .dropdown-menu .nav-link:hover,
.navbar-main .dropdown-item:hover, 
.navbar-main .dropdown-item:focus{
	color: #16181b !important;
    background-color: #d9d9d9 !important;
}
.navbar-sub .nav-link:hover {
    color: #fff;
}
.navbar-sub .active {
    font-weight: 500;
    color: #343a40;
}
.navbar-sub .navbar-toggler {
    color: rgba(255,255,255,.5);
}
.navbar-nav .nav-item.dropdown .dropdown-toggle::after{
	float: none;
}
/* MEDIA QUERY */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .navbar-sub .nav-item{
        border-left: solid 1px  rgba(238, 70, 84, 1);
    }
	.navbar-sub .dropdown-menu .nav-item{
		border: 0;
	}
    .navbar-sub .nav-item:first-child{
        border-left: none;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    main {
        top: 74px;
    }
    .navbar-sub{
        padding: 0 .4rem !important;
    }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

}
/* END MEDIA QUERY */

.progressWindow{
	font-size: 0.75rem;
	z-index: 1035;
}
.progressWindow #loadingText{
	float: none
}
.zContainer{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.lear-logo{
	position: relative;
	top: 3px;
}
.dropdown-menu-right{
	right: 0 !important;
	left: auto;
}
.fa-user-circle {
	margin: 0 !important;
}
.pageTitle {
    background-color: #fff !important;
    color: black !important;
    font-size: 1.1em !important;
    height: 26px !important;
	padding: 3px 15px !important;
    margin: 0 0 10px !important;
	-webkit-box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075) !important;
}
.bd-callout {
    padding: .1rem .5rem;
    margin: .55rem 0;
    border-left: 4px solid rgba(230, 0, 18, 1);
}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
	cursor: pointer;
	-webkit-transition: background-color 0.7s ease-out;
    -moz-transition: background-color 0.7s ease-out;
    -o-transition: background-color 0.7s ease-out;
    transition: background-color 0.7s ease-out;
}
footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1px 5px;
    background: #fff;
    z-index: 2000;
}
footer p{
	margin: 0;
	font-size: 10px;
}
#topMainMenu{
	margin-top: 7px !important;
    left: -6px !important;
}

  .zAboutTTWrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
   
}
    