.nav-tabs{
  margin-top: 5px
}

.nav-tabs > li > a {
    color: #000;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    font-weight: bold;
}


/*Tabs*/
.tab-pages div.tab{
  display:none;
  background-color:#fff;
  min-height:200px;
  padding-top:5px;
  padding-left:2px;
  overflow:hidden;
  border-color: transparent #ddd #ddd;
  border-style: solid;
  border-width: 1px;
}

.tab-pages div.active{
  display:block;

}
td #delete-row span{
   margin-top:7px;
}

/*end Tabs */
