.tt-menu {
	margin-top: 5px !important;
	a {
		margin: 0;
		padding: 0;
		border-radius: 5px;
		background: none;
		position: relative;
	}
}
.menu-content {
	margin: 5px 0 0 0;
	float: none;
	overflow: hidden;
	.hw {
		width: 90px;
		height: 90px;
	}
	.menu-item {
		float: left;
		margin: 0px 0px 5px 6px;
		overflow: hidden;
		border-radius: 6px;
		&:hover {
			.imgFade {
				opacity: 0;
				transition: 0.8s;
			}
			a {
				transition: padding-top 0.6s;
				padding-top: 24px;
				.text {
					.transparent-bg {
						transition: background-color 0.8s;
						background-color: rgba(00,00,00,0.5);
					}
				}
			}
		}
		a {
			position: relative;
			text-decoration: none;
			float: inherit;
			height: inherit;
			width: inherit;
			.text {
				text-align: center;
				font-size: 0.75em;
				color: #fff;
				font-weight: bold;
				padding-left: 0px !important;
				line-height: 13px;
				display: table-cell;
				vertical-align: middle;
				height: inherit;
				width: inherit;
				position: relative;
				padding-bottom: 0px !important;
				opacity: initial;
				.transparent-bg {
					height: 45px;
					width: inherit;
					display: table-cell;
					vertical-align: middle;
					span {
						display: block;
					}
				}
			}
			.img {
				position: absolute;
				height: inherit;
				width: inherit;
				left: 0;
				top: 0;
			}
		}
	}
}
.dropdown-menu-left {
	width: 303px !important;
	left: 0;
	left: auto;
	border-radius: 0 !important;
	left: 4px !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 300px !important;
}
.ddmenu-header {
	background-color: #ff0021;
	color: #fff;
	padding: 0.1rem 1rem;
	margin-top: 0 !important;
}
#electricalMenu {
	cursor: pointer;
}
#mechanicalMenu {
	cursor: pointer;
}
#electricalMenuContent {
	display: none;
}
#mechanicalMenuContent {
	display: none;
}
