
bower_components/*
node_modules/*
webfonts/fa*
cd
dir
package-lock.json
scripts/jquery.min.js
scripts/bootstrap.min.js
scripts/handlebars.min.js
css/fontawesome*.css
css/bootstrap.min.css
css/app.min.css
css/*.map
yarn.lock
.vs/*