<style>
.pageTitle {
    display: none;
}
.emTitle{
    color: red;
    font-size: larger;
}
.emTitle a{
    color: #343A40;
}
#chart_div{
    min-height: 320px;
}
#legend_div {
  height: 150px;
}
#legend-wrapper {
  max-height: 120px;
  overflow-x: none;
  overflow-y: auto;
}
</style>

<header>
    <div class="px-2 py-1 m-0 h4 bg-light">
        <a href="mechanicalkeydrivers" class="text-dark text-decoration-none" title="Back"><i class="fas fa-arrow-alt-circle-left"></i></a>
        <span class="font-weight-bold text-uppercase" id="menu_name"></span> |  
        <span id="criteria_name"></span> 
    </div>
    <div class="d-flex flex-wrap px-2 bg-dark">
        <div class="form-inline pr-1 pr-sm-0">
            <label for="from" class="col-form-label-sm text-white py-0 py-sm-2 mx-sm-2 mb-0">FROM</label>
            <select class="custom-select form-control form-control-sm" id="from">
                <option selected></option>
                <option value="2015">2015</option>
                <option value="2016" selected>2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
            </select>
        </div>
        <div class="form-inline mr-lg-auto pr-1 pr-sm-0">
            <label for="to" class="col-form-label-sm text-white py-0 py-sm-2 mx-sm-2 mb-0">TO</label>
            <select class="custom-select form-control form-control-sm" id="to">
                <option selected></option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018" selected>2018</option>
                <option value="2019">2019</option>
            </select>
        </div>
        <div class="form-inline pr-1 pr-sm-0">
            <label for="from" class="col-form-label-sm text-white py-0 py-sm-2 mx-sm-2 mb-0">SUM UP BY</label>
            <select class="custom-select form-control form-control-sm" id="to">
                <option selected></option>
                <option value="1">1 Yr</option>
                <option value="2">2 Yrs.</option>
                <option value="3" selected>3 Yrs.</option>
            </select>
        </div>
        <div class="form-inline pr-1 pr-sm-0">
            <label for="to" class="col-form-label-sm text-white py-0 py-sm-2 mx-sm-2 mb-0">CATEGORY</label>
            <select class="custom-select form-control form-control-sm" id="to">
                <option selected></option>
                <option value="Per Model Year" selected>Per Model Year</option>
                <option value="Per Region">Per Region</option>
                <option value="Per Vehicle Type">Per Vehicle Type</option>
                <option value="Per OEM">Per OEM</option>
            </select>
        </div>
        <div class="form-inline pr-1 pr-sm-0">
            <label for="to" class="col-form-label-sm text-white py-0 py-sm-2 mx-sm-2 mb-0">GRAPH TYPE</label>
            <select class="custom-select form-control form-control-sm" id="to">
                <option selected></option>
                <option value="Pie Chart" selected>Pie Chart</option>
                <option value="Bar Chart">Bar Chart</option>
            </select>
        </div>
        <div class="form-inline pr-1 pr-sm-0">
           <a class="btn btn-dark col-form-label-sm" href="#" role="button"><i class="fas fa-download"></i> DOWNLOAD</a>
        </div>
    </div>
</header>
<div class="zContainer">
    <div class="flex flex-column flex-chart">
        <div class="mb-auto" id="chart_div"></div>
        <div class="legend-wrapper">
            <div id="legend_div"></div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <div class="zContainer">
                <div class="row">
                    <div class="col-sm-12 bg-danger text-white px-2 py-1">Result</div>
                    <div class="col-sm-6 mb-3">
                        <div class="font-weight-bold text-uppercase">TREND :</div> 
                        <div class="px-3" id="trends"></div> 
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="font-weight-bold text-uppercase">OPPORTUNITIES/EVOLUTION :</div> 
                        <div class="px-3" id="opportunities"></div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul id="localTemplates">
    <li name="main_menu_card">
        
    </li>
</ul>
<script src="../amcharts4/core.js"></script>
<script src="../amcharts4/charts.js"></script>
<script src="../amcharts4/themes/animated.js"></script>