<script src="/scripts/linq.min.js"></script>
<style type="text/css" media="all">
form#frm_preLoading div.modal-header button.close,form#frm_preLoading div.modal-footer{display:none;}
.p-4{padding-top:0.5rem !important;
    padding-bottom:0.5rem !important;
}
select.zGrid .active .zCell .form-control {
    background-color: #333333 !important;
    color: #fff !important;
    border-radius: 0 !important;
    border-right: 1pt solid #d6d8d8 !important;
}
.zRows #table .zRow.active {
    background-color: #333333;
    color: #fff;
}
.zRows .zRow:hover {
    background-color: #333333 !important;
    color: #fff !important;
}
.zGrid .zRow .form-control.mandatory {
    background-color: #333333 !important;
    color:#000 !important;
}

.zGrid .zRow .form-control.mandatory {
    border-radius: 0;
    border-right: 1pt solid #d6d8d8 !important;
}
/*start vicmar*/
#frm_modalCriteria .modal-body{
    margin-left: 3px !important;
    margin-right: 3px !important;
}
#frm_modalCriteria .modal-body{
    /*padding:1rem !important 1px !important; */
    padding-top: 1rem !important;
    padding-bottom 1rem !important;
    padding-left:1px !important;
    padding-right:1px !important;
}
#frm_modalCriteria .modal-body div nav #nav-tab .nav-link{
    color:black;
}
#frm_modalCriteria .modal-body div nav #nav-tab .nav-link:hover{
    color: #fff !important;
}
#frm_modalCriteria .modal-body div nav #nav-tab .nav-link.active {
    background-image: linear-gradient(to bottom, #F11716 0px, #CA1F14 100%) !important;
    color: #fff !important;
}
#frm_modalCriteriaColums  .modal-body{
    margin-left: 3px !important;
    margin-right: 3px !important;
}
#frm_modalCriteriaColums  .modal-body .row{
    margin-left: -20px !important;
    margin-right: -20px !important;
}
#modalWindowImageUploadElectrical.modal.show,#modalWindowImageUploadMechanical.modal.show,#modalwindowCriteriaImageUpload.modal.show{top:100px;}
.modal-header {background-image: linear-gradient(to bottom, #F11716 0px, #CA1F14 100%);
        color:#fff;
    }
/*end vicmar*/
    div.row div#gridCriteriaColumnValues{margin-left: -10px !important;}
    .nav-tabs .nav-link.active{background-image: linear-gradient(to bottom, #F11716 0px, #CA1F14 100%);
        color:#fff;
    }
    .nav-tabs .nav-link:hover{background-image: linear-gradient(to bottom, #F11716 0px, #CA1F14 100%);
        color:#fff;
    }
    .clear-both{
        clear:both;
    }
    .zHeaders .title .text {
    width: 100%;
    }
    .zGrid .zHeaders .item {
        border-right: none;
    }
    
    .zGrid .zHeaders .item .title {
        border-right: solid 1pt #fff;
    }
    
    .criteria{
        display: none;
    }
    .colval{
        display: none;
    }
    
    .hide{
        display :none;
    }
    
    .modal-dialog.modal-full{
        
        max-width: none;
    }

    .modal-header {
    background-color: #F11716;
    padding:.5rem .5rem !important;
    }
   #img-box{
        top:120px;
        background-color: #fff;
        height: auto; /*250px;*/
        width: /*450px;*/
        left: 650px;
        position: absolute;
        display:none;
        box-shadow: 7px 7px 7px -1px rgba(0,0,0,0.58);
        border: 2px solid #fff;
        border-radius: 10px;
        overflow:hidden;
        z-index: 10000;
    }
    /* ---------CHART STYLE--------- */
    #chart_container {
        min-height: 350px;
        height: 100%;
        max-height: 100%;
    }
    .chart-holder {
        min-height: 450px;
    }
    .chart-div {
      width: 100%;
      max-height: 550px;
      height: 100vh;
      border: 1px solid #333;
    }
    .chart-div-sub {
        width: 100%;
        max-height: 100%;
    }
    .card-header {
        background-color: rgba(0,0,0,.03);
    }
    .zGrid {
        background-color: #fff;
    }
    
/*preloading data*/
/* Moving on to the styling, we'll start with the main progress bar first and then the value part of it. After that, we'll do some experiments :D */
/*body {*/
/*	background: #322c35;*/
/*}*/

progress {
	width: 400px;
	height: 14px;
	margin: 30px auto;
	/*display: block;*/
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: #E4E4E4;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #343a40, #343a40);
	
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */

@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}

/* Prefix-free was creating issues with the animation */

    
</style>

<div class="zContainer">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div id="grid" class="zGrid"></div>    
            <div id="gridMech" class="zGrid"></div>    
        </div>
    </div>
</div>

<div id="img-box">
    <img src="/file/viewImage?fileName=no-image.jpg&amp;isThumbNail=y" id="image" >
</div>

<div class="modal" id="modalCriteria" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <form id="frm_modalCriteria" >
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCriteriaLabel"> Title </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    
                </div>
                <div class="modal-body p-4">
                    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                        <nav>
                          <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-n" role="tab" aria-controls="nav-n"> New 
                                <span id="badge-N" class="badge badge-pill badge-dark"></span>
                            </a>
                            <a class="nav-item nav-link"        data-toggle="tab" href="#nav-a" role="tab" aria-controls="nav-a"> Approved 
                                <span id="badge-A" class="badge badge-pill badge-dark"></span>
                            </a>
                            <a class="nav-item nav-link"        data-toggle="tab" href="#nav-r" role="tab" aria-controls="nav-r"> For Review 
                                <span id="badge-S" class="badge badge-pill badge-dark"></span>
                            </a>
                            <a class="nav-item nav-link"        data-toggle="tab" href="#nav-c" role="tab" aria-controls="nav-c"> Cancelled 
                                <span id="badge-C" class="badge badge-pill badge-dark"></span>
                            </a>
                          </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                          <div role="tabpanel" class="tab-pane fade show active" id="nav-n">
                                <div class="row">
                                    <div id="gridCriteria-N" class="zGrid"> </div>
                                </div>
                                <button type="button" onclick="submitDataCriteria(this,'N');" class="btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
                          </div>
                          <div role="tabpanel" class="tab-pane fade"             id="nav-a">
                                <div class="row">
                                    <div id="gridCriteria-A" class="zGrid"> </div>
                                </div>
                                <button type="button" onclick="submitDataCriteria(this,'A');" class="btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
                          </div>
                          <div role="tabpanel" class="tab-pane fade"             id="nav-r">
                                <div class="row">
                                    <div id="gridCriteria-S" class="zGrid"> </div>
                                </div>
                                <button type="button" onclick="submitDataCriteria(this,'S');" class="btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
                          </div>
                          <div role="tabpanel" class="tab-pane fade"             id="nav-c">
                            <div class="row">
                                <div id="gridCriteria-C" class="zGrid"> </div>
                            </div>
                            <button type="button" onclick="submitDataCriteria(this,'C');" class="btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
                          </div>
                        
                        </div>
        
        
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>


<ul id="localTemplates">
    <li name="modalBodyCriteriaSingle">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                
                <!--<ul class="nav nav-tabs">-->
                <!--    <li class="nav-item" ><a class="nav-link active" href="#new" data-toggle="tab" id="N">Newa <span id="nBadge" class="badge badge-light"></span></a></li>  -->
                <!--    <li class="nav-item" ><a class="nav-link" href="#approved"  data-toggle="tab" id="A">Approved <span id="aBadge" class="badge badge-light"></span></a></li>-->
                <!--    <li class="nav-item" ><a class="nav-link" href="#forapproval" data-toggle="tab" id="S">For Review <span id="rBadge" class="badge badge-light"></span></a></li>  -->
                <!--    <li class="nav-item" ><a class="nav-link" href="#cancelled" data-toggle="tab" id="C">Cancelled <span id="cBadge" class="badge badge-light"></span></a></li>  -->
                <!--</ul>           -->
                <div id="tabPanel" class="tab-pages">
                    <div id="tabNew" class="tabPane">
                        <div class="row">
                            <div id="{{gridCriteria}}" class="zGrid"> </div>
                        </div>
                        <button type="button" id="btnSaveCriteriaNew" onclick="{{onClickSaveCriteria}}" class="btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
                    </div>
                    
                </div>

                
            </div>
        </div>
    </li>
    <li name="modalBody">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                <div class="row">
                    <div id="{{gridId1}}" class="zGrid"> </div>
                </div>
                <button type="button" id="btnSave1" onclick="{{onClickSave1}}" class="btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
                
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 colval">
                <div class="row">
                    <div id="{{gridId2}}" class="zGrid"> </div>
                </div>
                <button type="button" id="btnSave2" onclick="{{onClickSave2}}" class="btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
            </div>
        </div>
    </li>
    
    <li name="modalFooter">
        <div class="pull-left">
            <button type="button" id="btnSave" onclick="{{onClickSave}}" class="btn btn-primary mr-auto"><i class="far fa-save"></i> Save</button>
        </div>
    </li>
    
    <li name="modalBodyRD">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                <div class="row">
                    <div id="{{gridRD}}" class="zGrid"> </div>
                </div>
                <button type="button" onclick="{{onClickSaveRD}}" class="btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
                
            </div>
        </div>
    </li>
    
    <li name="modalBodyWGR">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                <div id="{{gridWGR}}" class="zGrid row"> </div>
                <!--<div class="clear-both"></div>-->
                <button type="button" id="btnSave1" onclick="{{onClickSaveWGR}}" class="btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
            </div>
        </div>
    </li>
    <li name="formButton">
        
    </li>
    <li name="modalInList">
       <!-- <a href='javascript:void(0);' class='btn btn-sm'  onclick='showModalCriteriaColumnValues("{{p1}}","{{p2}}");' >
    	    <i class='fas fa-link'></i>
    	</a>-->
        <div class="row">
                <div id="{{gridCricolVal}}" class="zGrid"> </div>
                <button type="button" onclick="{{saveCriColVal}}" class="btn btn-primary m-1"><i class="far fa-save"></i> Save</button>
        </div>
    </li>
    <li name="chartDiv">
        <div id="{{id}}">
            <div class="bg-secondary text-white px-3 py-2 {{title_class}}">{{title}}</div>
            <div class="bg-white rounded shadow-sm px-3 py-2 mb-2">
                <div id="{{div_header_id}}" class="{{div_header_class}}"></div>
                <div class="d-flex">
                    <div class="p-1 flex-fill w-50">
                        <h6 class="border-bottom border-gray py-2 mb-2 {{sub_title_class}}"><b>By Model Year</b></h6>
                        <div id="{{by_model_year_id}}" class="chart-div"></div>
                        <hr class="my-2">
                    </div>
                    <div class="p-1 flex-fill w-50">
                        <h6 class="border-bottom border-gray py-2 mb-2 {{sub_title_class}}"><b>By Region</b></h6>
                        <div id="{{by_region_id}}" class="chart-div"></div>
                        <hr class="my-2">
                    </div>
                </div>
                <div id="{{div_middle_id}}"></div>
                <div class="d-flex">
                    <div class="p-1 flex-fill w-50">
                        <div id="{{each_model_year_id}}" class="chart-div-sub"></div>
                    </div>
                    <div class="p-1 flex-fill w-50">
                        <div id="{{each_region_id}}" class="chart-div-sub"></div>
                    </div>
                </div>
                <div id="{{div_footer_id}}"></div>
            </div>
        </div>
    </li>
    <li name="chartCardWrapper">
        <div class="my-2 bg-white">
            <h6 class="border-bottom border-gray pb-2 mb-3 {{title_class}}"><b>{{title}}</b></h6>
            <div class="media">
                <div id="{{id}}" class="chart-div"></div>
            </div>
        </div>
    </li>
    <li name="chartCard">
        <div class="card border-dark mb-1 {{class}}" style="{{style}}">
          <div class="card-header {{header}} p-2">{{title}}</div>
          <div class="card-body p-2">
            <div id="{{id}}" class="chart-holder h-100"></div>
          </div>
        </div>
    </li>
    <li name="trendResult">
        <div class="w-100 mb-2">
           <div class="bg-danger text-white px-2 py-1">Result</div>
           <div class="d-flex bg-white rounded shadow-sm px-3 pb-2">
                <div class="p-2 flex-fill w-50">
                    <div class="font-weight-bold text-uppercase">TREND :</div> 
                    <div class="px-3">{{{trend}}}</div> 
                </div>
                <div class="p-2 flex-fill w-50">
                    <div class="font-weight-bold text-uppercase">OPPORTUNITIES/EVOLUTION :</div> 
                    <div class="px-3">{{{opportunity}}}</div> 
                </div>
            </div>
        </div>
    </li>
</ul>
<script src="../amcharts4/core.js"></script>
<script src="../amcharts4/charts.js"></script>
<script src="../amcharts4/themes/animated.js"></script>
