<style>
.pageTitle {
    display: none;
}
/* Section CSS */
.criteria-card, 
.criteria-card > .card-header{
    background-color: rgb(242,242,242);
}
.criteria-card:hover .stretched-link::after{
    background-color: rgba(127, 127, 127, 0.2);
}
.criteria-card a.stretched-link{
    color:#000000;
    font-weight:bold;
}
.criteria-card i.fa-play{
    color:red; font-weight:bold; 
}

/* Scrool To Top CSS */
.btn-arrow {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1001;
}
.btn-arrow i{
    color: #fff;
    margin: 0;
    position: relative;
    top: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-arrow:hover {
    background: rgba(0, 0, 0, 0.9);
}
.btn-arrow:hover i {
    color: #fff;
    top: 5px;
}
/*----------------------FLIP CSS------------------*/
.flip-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.flip-container {
    webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}
.flip-card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.4s linear;
    -moz-transform-style: preserve-3d;
    -moz-transition: all 0.4s linear;
    -o-transform-style: preserve-3d;
    -o-transition: all 0.4s linear;
    transform-style: preserve-3d;
    transition: all 0.4s linear;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.face.back {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(180deg);
    -webkit-box-sizing: border-box;
    -moz-transform: rotateY(180deg);
    -moz-box-sizing: border-box;
    -o-transform: rotateY(180deg);
    -o-box-sizing: border-box;
    transform: rotateY(180deg);
}
.criteria-card:hover .flip-card{
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}
.flip-wrapper{
    height: 400px;
    min-height: 1px;
    max-height: 100%;
    overflow: hidden;
    padding-bottom: 66.66666666666667%;
}
</style>
<div class="zContainer">
    <div class="criteria">
        <div class="criteria-header bd-callout">
            <h3 class="m-0 text-uppercase" id="criteria_title"></h3> 
        </div>
        <div class="row no-gutters" id="criteria_content"></div>
    </div>

    <!-- Return to Top -->
    <span class="btn-arrow" id="btnGoTop" title="Go Top"><i class="fas fa-angle-up fa-2x"></i></span>
</div>
<ul id="localTemplates"></ul>
