<style>
.pageTitle {
    display: none;
}
.emTitle{
    color:red;
    font-size:larger;
}
.emTitle a{color:#343A40;
    text-decoration:none;
}
</style>
<div class="zContainer">
    <div class="emTitle p-2"> Electrical Key Drivers  <a href="mechanicalkeydrivers">| Mechanical Key Drivers</a> </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-sm rounded-0 mb-3">
                <div class="card-header text-white rounded-0 bg-dark py-1 h5 text-center">
                    VIHECLE ARCHITECTURE
                </div>
                <div class="card-body py-2">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative bg-card-light">

                        <div class="col-auto d-none d-lg-block">
                            <img src="/images/electrical.png" width="158" height="158" alt="The Mechanical Systems">
                        </div>
                        <div class="col p-2 px-4 d-flex flex-column position-static">
                            <h5
                                class="mb-0 pb-1 text-uppercase text-secondary border-bottom border-secondary font-weight-bold">
                                The Mechanical Systems
                            </h5>
                            <h5 class="mb-0 text-uppercase text-secondary font-weight-bold">Trend</h5>
                            <p class="h6 mb-auto font-weight-normal text-secondary">Know the latest trend in mechanical systems’ main key drivers such as                            inline connector, clips and retainers, grommet, and etc. With these information,
                                you can understand OEM’s strategy or uniqueness in assembly to apply for new design and technology.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm rounded-0 mb-3">
                <div class="card-header text-white rounded-0 bg-dark py-1 h5 text-center">
                    WIRES & CABLES
                </div>
                <div class="card-body py-2">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative bg-card-light">

                        <div class="col-auto d-none d-lg-block">
                            <img src="/images/electrical.png" width="158" height="158" alt="The Mechanical Systems">
                        </div>
                        <div class="col p-2 px-4 d-flex flex-column position-static">
                            <h5
                                class="mb-0 pb-1 text-uppercase text-secondary border-bottom border-secondary font-weight-bold">
                                The Mechanical Systems
                            </h5>
                            <h5 class="mb-0 text-uppercase text-secondary font-weight-bold">Trend</h5>
                            <p class="h6 mb-auto font-weight-normal text-secondary">Know the latest trend in
                                mechanical
                                systems’ main key
                                drivers such as
                                inline connector, clips and retainers, grommet, and etc. With these information,
                                you can
                                understand OEM’s strategy or uniqueness in assembly to apply for new design and
                                technology.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card shadow-sm rounded-0 mb-3">
                <div class="card-header text-white rounded-0 bg-dark py-1 h5 text-center">
                    POWER DISTRIBUTION
                </div>
                <div class="card-body py-2">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative bg-card-light">

                        <div class="col-auto d-none d-lg-block">
                            <img src="/images/electrical.png" width="158" height="158" alt="The Mechanical Systems">
                        </div>
                        <div class="col p-2 px-4 d-flex flex-column position-static">
                            <h5
                                class="mb-0 pb-1 text-uppercase text-secondary border-bottom border-secondary font-weight-bold">
                                The Mechanical Systems
                            </h5>
                            <h5 class="mb-0 text-uppercase text-secondary font-weight-bold">Trend</h5>
                            <p class="h6 mb-auto font-weight-normal text-secondary">Know the latest trend in
                                mechanical
                                systems’ main key
                                drivers such as
                                inline connector, clips and retainers, grommet, and etc. With these information,
                                you can
                                understand OEM’s strategy or uniqueness in assembly to apply for new design and
                                technology.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm rounded-0 mb-3">
                <div class="card-header text-white rounded-0 bg-dark py-1 h5 text-center">
                    GROUNDING DISTRIBUTION
                </div>
                <div class="card-body py-2">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative bg-card-light">

                        <div class="col-auto d-none d-lg-block">
                            <img src="/images/electrical.png" width="158" height="158" alt="The Mechanical Systems">
                        </div>
                        <div class="col p-2 px-4 d-flex flex-column position-static">
                            <h5
                                class="mb-0 pb-1 text-uppercase text-secondary border-bottom border-secondary font-weight-bold">
                                The Mechanical Systems
                            </h5>
                            <h5 class="mb-0 text-uppercase text-secondary font-weight-bold">Trend</h5>
                            <p class="h6 mb-auto font-weight-normal text-secondary">Know the latest trend in
                                mechanical
                                systems’ main key
                                drivers such as
                                inline connector, clips and retainers, grommet, and etc. With these information,
                                you can
                                understand OEM’s strategy or uniqueness in assembly to apply for new design and
                                technology.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm rounded-0 mb-3">
                <div class="card-header text-white rounded-0 bg-dark py-1 h5 text-center">
                    SAFETY / CRITICAL CIRCUITS
                </div>
                <div class="card-body py-2">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative bg-card-light">

                        <div class="col-auto d-none d-lg-block">
                            <img src="/images/electrical.png" width="158" height="158" alt="The Mechanical Systems">
                        </div>
                        <div class="col p-2 px-4 d-flex flex-column position-static">
                            <h5
                                class="mb-0 pb-1 text-uppercase text-secondary border-bottom border-secondary font-weight-bold">
                                The Mechanical Systems
                            </h5>
                            <h5 class="mb-0 text-uppercase text-secondary font-weight-bold">Trend</h5>
                            <p class="h6 mb-auto font-weight-normal text-secondary">Know the latest trend in
                                mechanical
                                systems’ main key
                                drivers such as
                                inline connector, clips and retainers, grommet, and etc. With these information,
                                you can
                                understand OEM’s strategy or uniqueness in assembly to apply for new design and
                                technology.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm rounded-0 mb-3">
                <div class="card-header text-white rounded-0 bg-dark py-1 h5 text-center">
                    NETWORK TOPOLOGY
                </div>
                <div class="card-body py-2">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative bg-card-light">

                        <div class="col-auto d-none d-lg-block">
                            <img src="/images/electrical.png" width="158" height="158" alt="The Mechanical Systems">
                        </div>
                        <div class="col p-2 px-4 d-flex flex-column position-static">
                            <h5
                                class="mb-0 pb-1 text-uppercase text-secondary border-bottom border-secondary font-weight-bold">
                                The Mechanical Systems
                            </h5>
                            <h5 class="mb-0 text-uppercase text-secondary font-weight-bold">Trend</h5>
                            <p class="h6 mb-auto font-weight-normal text-secondary">Know the latest trend in
                                mechanical
                                systems’ main key
                                drivers such as
                                inline connector, clips and retainers, grommet, and etc. With these information,
                                you can
                                understand OEM’s strategy or uniqueness in assembly to apply for new design and
                                technology.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>