<style>
    .chart-div {
      width: 100%;
      max-height: 350px;
      height: 100vh;
      border: 1px solid #333;
    }
    .chart-div-sub {
        width: 100%;
        max-height: 100%;
    }
    .card-header {
        background-color: rgba(0,0,0,.03);
    }
    #chart_map {
        min-height: 400px;
        height: 100vh;
        margin-top: -13vh;
        background-color: #30303d; 
        color: #fff;
    }
</style>

<div class="zPanel">
    <div class="row">
        <!--<div class="col-12">-->
        <!--    <div class="d-flex  flex-wrap flex-md-nowrap align-items-center mb-1 justify-content-end">-->
        <!--        <div class="btn-toolbar mb-2 mb-md-0">-->
        <!--            <div class="input-group ">-->
        <!--                <div class="input-group-prepend">-->
        <!--                    <div class="input-group-text">-->
        <!--                      <input type="checkbox" id="include_cyear" aria-label="Checkbox to include current year"> -->
        <!--                      <span class="pl-1">Include Current Year</span>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="input-group-prepend">-->
        <!--                    <span class="input-group-text">No. of Years :</span>-->
        <!--                </div>-->
        <!--                <input type="number" min="1" max="10" step="1" value="" class="form-control" id="no_of_years">-->
                        
        <!--                <div class="input-group-prepend">-->
        <!--                    <span class="input-group-text">Chart Type :</span>-->
        <!--                </div>-->
        <!--                <select class="custom-select" id="chart_type">-->
        <!--                    <option selected>Choose...</option>-->
        <!--                    <option value="Pie Chart">Pie Chart</option>-->
        <!--                    <option value="Bar Graph" selected>Bar Graph</option>-->
        <!--                </select>-->
        <!--                <div class="input-group-append">-->
        <!--                    <button class="btn btn-dark" type="button" id="btnSearch">Go</button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</div>-->
        <div class="col-12">
            <div id="chart_map"></div>
            <!--<div id="chart_container"></div>-->
        </div>
    </div>
 </div>
 <ul id="localTemplates">
     <li name="chartDiv">
        <div id="{{id}}">
            <div class="bg-secondary text-white px-3 py-2">{{title}}</div>
            <div class="bg-white rounded shadow-sm px-3 py-2 mb-2">
                <div id="{{div_header_id}}"></div>
                <div class="d-flex">
                    <div class="p-1 flex-fill w-50">
                        <h6 class="border-bottom border-gray py-2 mb-2"><b>By Model Year</b></h6>
                        <div id="{{by_model_year_id}}" class="chart-div"></div>
                        <hr class="my-2">
                    </div>
                    <div class="p-1 flex-fill w-50">
                        <h6 class="border-bottom border-gray py-2 mb-2"><b>By Region</b></h6>
                        <div id="{{by_region_id}}" class="chart-div"></div>
                        <hr class="my-2">
                    </div>
                </div>
                <div id="{{div_middle_id}}"></div>
                <div class="d-flex">
                    <div class="p-1 flex-fill w-50">
                        <div id="{{each_model_year_id}}" class="chart-div-sub"></div>
                    </div>
                    <div class="p-1 flex-fill w-50">
                        <div id="{{each_region_id}}" class="chart-div-sub"></div>
                    </div>
                </div>
                <div id="{{div_footer_id}}"></div>
            </div>
        </div>
    </li>
    <li name="chartCardWrapper">
        <div class="my-2 bg-white">
            <h6 class="border-bottom border-gray pb-2 mb-3"><b>{{title}}</b></h6>
            <div class="media">
                <div id="{{id}}" class="chart-div"></div>
            </div>
        </div>
    </li>
    <li name="chartCard">
        <div class="card border-dark mb-1 {{class}}" style="{{style}}">
          <div class="card-header {{header}} p-2">{{title}}</div>
          <div class="card-body p-2">
            <div id="{{id}}" class="row h-100"></div>
          </div>
        </div>
    </li>
    <li name="trendResult">
        <div class="w-100 mb-2">
           <div class="bg-danger text-white px-2 py-1">Result</div>
           <div class="d-flex bg-white rounded shadow-sm px-3 pb-2">
                <div class="p-2 flex-fill w-50">
                    <div class="font-weight-bold text-uppercase">TREND :</div> 
                    <div class="px-3">{{{trend}}}</div> 
                </div>
                <div class="p-2 flex-fill w-50">
                    <div class="font-weight-bold text-uppercase">OPPORTUNITIES/EVOLUTION :</div> 
                    <div class="px-3">{{{opportunity}}}</div> 
                </div>
            </div>
        </div>
    </li>
</ul>
 
<script src="../amcharts4/core.js"></script>
<script src="../amcharts4/charts.js"></script>
<script src="../amcharts4/maps.js"></script>
<script src="../amcharts4/themes/dark.js"></script>    
<script src="../amcharts4/themes/animated.js"></script>   
<script src="../amcharts4/geodata/worldLow.js"></script>    
<script src="../amcharts4/geodata/continentsLow.js"></script>  
<script src="../amcharts4/geodata/region/world/asiaLow.js"></script>    
<script src="../amcharts4/geodata/region/world/europeLow.js"></script>    
<script src="../amcharts4/geodata/region/world/northAmericaLow.js"></script>    