<style>
.pageTitle {
    display: none;
}
.bg-card-light{
    background-color: rgba(217, 217, 217, 0.6)
}
.db-card:hover .stretched-link::after{
    background: rgba(217, 217, 217, 0.2);
} 
.z-index-1 {
    z-index: 1;
}
</style>

<div class="position-absolute  w-100 h-100" id="chart_map"></div>

<div class="zContainer position-absolute fixed-top z-index-1">
    <div class="row mb-2">
        <div class="col-md-6 pr-1 pr-md-5">
            <img src="/images/trend2.png" class="w-100 h-100" alt="Trend">
        </div>
        <div class="col-md-6 pl-1 pl-md-5">
            <h2 class="pt-0 pt-md-5 mb-0 text-center text-md-right font-weight-bold font-italic">
                Forecasts diverse automotive trends on materials, best practices and
                extensive OEM design architectures based from the wide collection of data in Lear Benchmarking
                Database.</h2>
        </div>
    </div>
</div>

<div class="zContainer position-absolute fixed-bottom z-index-1">
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="db-card row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative bg-card-light">
                <div class="col-auto d-none d-lg-block">
                    <img src="/images/electrical.png" width="200" height="200" alt="The Electrical Systems">
                </div>
                <div class="col p-2 px-4 d-flex flex-column position-static">
                    <h5 class="mb-0 pb-1 text-uppercase text-secondary border-bottom border-secondary font-weight-bold">
                        The Electrical Systems
                    </h5>
                    <h5 class="mb-0 text-uppercase text-secondary font-weight-bold">Trend</h5>
                    <p class="h6 card-text mb-auto font-weight-normal text-secondary">Know the latest trend in
                        electrical systems’ main key drivers such as wires and cables, grounding distribution, safety/critical circuits, etc. With
                        these information, you can understand OEM’s strategy or uniqueness in assembly to apply for new design and technology
                    </p>
                    <a href="electricalkeydrivers"
                        class="stretched-link text-right text-uppercase text-decoration-none text-danger font-weight-bold">View
                        All Trends <i class="fas fa-angle-double-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="db-card row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative bg-card-light">
                <div class="col-auto d-none d-lg-block">
                    <img src="/images/mechanical.png" width="200" height="200" alt="The Mechanical Systems">
                </div>
                <div class="col p-2 px-4 d-flex flex-column position-static">
                    <h5 class="mb-0 pb-1 text-uppercase text-secondary border-bottom border-secondary font-weight-bold">
                        The Mechanical Systems
                    </h5>
                    <h5 class="mb-0 text-uppercase text-secondary font-weight-bold">Trend</h5>
                    <p class="h6 mb-auto font-weight-normal text-secondary">Know the latest trend in mechanical
                        systems’ main key drivers such as inline connector, clips and retainers, grommet, and etc. With these information, you can
                        understand OEM’s strategy or uniqueness in assembly to apply for new design and technology.
                    </p>
                    <a href="mechanicalkeydrivers"
                        class="stretched-link text-right text-uppercase text-decoration-none text-danger font-weight-bold">View
                        All Trends <i class="fas fa-angle-double-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../amcharts4/core.js"></script>
<script src="../amcharts4/charts.js"></script>
<script src="../amcharts4/maps.js"></script>
<script src="../amcharts4/themes/animated.js"></script>   
<script src="../amcharts4/geodata/continentsLow.js"></script>  
  