<style>
.pageTitle {
    display: none;
}
.emTitle{
    color:red;
    font-size:larger;
}
.emTitle a{color:#343A40;
    text-decoration:none;
}
.main-menu-card .stretched-link{
   font-size: 18px;
}
.main-menu-card:hover .stretched-link::after{
    background-color: rgba(0, 0, 0, 0.2);
}
</style>
<div class="zContainer">
    <div class="emTitle py-2"><a href="electricalkeydrivers">Electrical Key Drivers | </a> Mechanical Key Drivers </div>
    
    <div class="row" id="main-menu"></div>
</div>

<ul id="localTemplates">
    <li name="main_menu_card">
        <div class="col-md-4">
            <div class="main-menu-card card shadow-sm rounded-0 mb-3">
                <div class="card-header rounded-0 bg-dark py-1 h5 text-center">
                    <a href="{{link}}" class="stretched-link text-white text-decoration-none text-uppercase">{{title}}</a>
                </div>
                <div class="card-body py-2">
                    <div class="row no-gutters border-0 overflow-hidden flex-md-row h-md-250 position-relative bg-card-light" style="{{{body_style}}}">
                        <div class="col-auto d-none d-lg-block">
                            <img src="{{{img_src}}}" width="158" height="158" alt="{{title}}">
                        </div>
                        <div class="col p-2 px-4 d-flex flex-column position-static">
                          
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>