<!--<style>
    div#fa_icon_id {
        border: solid 1pt #a9a9a9;
        width: 25px;
        height: 25px;
        margin-top: 7px;
    }
</style>-->

<div class="form-horizontal">
    <form>
        <input name="parent_id"     id="parent_id"  type="hidden"  >
        <input name="fa_icon"       id="fa_icon"   type="hidden"  >
        <input name="sqlCode"       id="sqlCode" type="hidden" value="T84"  >
        <div class="input-group mb-2">  
            <label class="col-4  control-label" style="text-align: right;">Filename :</label>
            <div class=" col-8">
                <input name="fa_icon" id="fa_icon" value="fas fa-plus"  type="text"  >
                <div id="fa_icon_id" type="text" class="fas fa-plus"></div>
            </div>
        </div>
    </form>
</div>
