<style>

.tt-menu a:hover{
    background:none;
}
.dropdown-menu-excecutive-left{
    width:auto !important;
    max-width:auto !important;
}
.users-menu-content{
    margin:5px 5px 0 5px;
}
.users-menu-item{
    display:inline-block;
    margin:1px 2px 0 2px;
    
}
/*.users-menu-item a .userImgPrime{*/
/*    border:1px solid black;*/
/*}*/
/*.users-menu-item a .userImgFade{*/
/*    border:1px solid green;*/
/*}*/
/*.users-menu-item a .userLabel{*/
/*    border:1px solid gray;*/
/*}*/
.users-menu-item, .users-menu-item a .userImgPrime, .users-menu-item a .userImgFade, .users-menu-item a .userLabel{
    height:376px;
    width:376px;
    
}

.users-menu-item a{
    position:relative;
}
.users-menu-item a .userImgPrime, .users-menu-item a .userImgFade, .users-menu-item a .userLabel{
    position:absolute;
    top:0px;
    left:0px;
}
.users-menu-item a .userImgFade{
    transition: opacity 1s;
}
.users-menu-item a:hover .userImgFade{
    opacity:0.0;
}
.users-menu-item a .userLabel{
    /*padding:5px;*/
    color:white;
    text-align
    display:table-cell;
    vertical-align:bottom;
    
}
.users-menu-item a .userLabel span{
    font-size:15px;
    color: #fff;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    
    /*padding-top: 2px;*/
    display: table-cell;
    vertical-align: bottom;
    height: inherit;
    width: inherit;
    position: relative;
    opacity:0;
    transition:opacity .5s;
    /*padding-bottom: 13px;*/
}
.users-menu-item a:hover .userLabel span{
    opacity:1;
}
/*.users-menu-item a{*/
/*    border:1px solid blue;*/
/*}*/
/*.users-menu-item a .userImgPrime{*/
/*    border:1px solid yellow;*/
/*}*/
/*.users-menu-item a .userImgFade{*/
/*    border:1px solid green;*/
/*}*/
/*.users-menu-item a .userLabel{*/
/*    border:1px solid black;*/
/*}*/
/*.users-menu-item, .users-menu-item a, .users-menu-item a .userImgPrime, .users-menu-item a .userImgFade, .users-menu-item a .userLabel{*/
/*    height:350px;*/
/*    width:350px;*/
/*}*/
/*.users-menu-item a{*/
/*    position:relative;*/
/*}*/

/*.tt-menu a.vehicle{*/
/*    background-image:url('/images/menu/menu-electrical-vehicle-architecture-colored.png');*/
/*}*/
</style>
			<ul class="navbar-nav">
				<li class="nav-item dropdown no-arrow">
					<div class="tt-menu dropdown-menu dropdown-menu-users-left show">
						<div class="users-menu-content">
						</div>
					</div>
				</li>
			</ul>


<ul id="localTemplates">
    <li name="usersMenu" >
        <div class="users-menu-item">
		    <a href="{{link}}" {{event}}="{{fnc}}">
		        <img class="userImgPrime" src="/file/viewimagedb?sqlcode=t83&imageid={{imageId3}}" >
		        <img class="userImgFade"src="/file/viewimagedb?sqlcode=t83&imageid={{imageId4}}">
		        <div class="userLabel" style="{{style}}"><span>{{label}}</span></div>
		    </a>
		</div>
    </li>
</ul>


