<script src='/javascript/name/zsiSearch'></script>
<style>
    #grid thead tr, #grid thead th{
    	-ms-transition: 0.1s;
    	background-clip: padding-box;
    	z-index: 50;
    }

    #user-box{
        top:230px;
        background-color: #fff;
        height: 250px;
        width: 250px;
        left: 460px;
        position: absolute;
        display:none;
        webkit-box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
        -moz-box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
        box-shadow: 30px 30px 7px -1px rgba(0,0,0,0.58);
        border: 2px solid #fff;
        border-radius: 10px;
        overflow:hidden;
    }
  #user-box img{
      margin-left: -106px;
  }
    
    #grid{
    width: 100%;
}

.zGrid .item .title {
    height: 22px;
    line-height: 19px;
}
 .zGrid .zHeaders .zSort {
        
    }
.tablePanel {
        overflow-y:auto;
    }
   
</style>

 <div class="zPanel">  
    <form method="post" id="frm">
        <div id="grid" class="zGrid mb-2"></div> 

        <button type="button" class="btn btn-primary " id="btnSave">
            <i class="far fa-save"></i> Save
        </button>
        
    </form>
 </div>
<div id="user-box">
    <img src="/file/viewImage?fileName=no-image.jpg&amp;isThumbNail=y" id="userImage" >
</div>
